
node_modules/.bin/acorn
*.cmd
*.ps1
node_modules/.bin/browserslist
node_modules/.bin/detect-libc
node_modules/.bin/fxparser
node_modules/.bin/expo-modules-autolinking
node_modules/.bin/expo-internal
node_modules/.bin/excpretty
node_modules/.bin/expo
node_modules/.bin/is-docker
node_modules/.bin/jscodeshift
node_modules/.bin/jscodeshift
node_modules/.bin/json5
node_modules/.bin/logkitty
node_modules/.bin/jsesc
node_modules/.bin/loose-envify
node_modules/.bin/metro-inspector-proxy
node_modules/.bin/mime
node_modules/.bin/nanoid
node_modules
